h2,p{text-align: center;}
.a{color: white;}
h1{text-align: center;
color: white;}
section{margin-left: auto;
        margin-right: auto;
        background-color: rgb(123, 147, 168);
        width: 70px;
        font-family: monospace;
        text-size-adjust: auto;}
.box{background-color: aliceblue;
      border-radius: 40px;
      width:90%;
      margin-left: auto;
      margin-right: auto;
      padding: 2px;
      margin-bottom:10px;}
footer {
      background-color: #4cafad;
      text-align: center;
      padding: 15px;
      margin-top: 40px;
      color: #fff;
    }