.head {
    height: 110.82px;
    background-color: rgba(254, 250, 244);
}

header {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 20px;
}

.hamburg {
    height: 65.75px;
    width: 65.75px;
    cursor: pointer;
}

.logo {
    height: 101.4px;
    width: 334.52px;
    margin-left: 20px;
}

nav {
    margin-left: auto;
    display: flex;
    gap: 20px;
    font-size: 30px;
    margin-top: 10px;
}
.ab {
    margin-right: 30px;
}

body {
    margin: 0;
    background: linear-gradient(
        to bottom,
        #6a49f2 0%,
        #ab2cd9 50%,
        #ffffff 100%
    );
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    background-color: #000000; 
    color: #fff;
    padding: 20px;
    min-width: 260px;
}

.sidebar-grid {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    margin-top: 20px;
}

.sidebar-grid a {
    color: #fff;
    text-decoration: none;
    padding-top:  15px;
    padding-bottom: 25px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #1a1a1a;   
    border-radius: 10px;
    font-size: 24px;
    transition: 0.25s ease;
}

.sidebar-grid a:hover {
    background-color: #333; 
    transform: scale(1.05);
}


.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 50px;
}

.welcome {
    text-align: center;
    color: black;
}

.welcome h1 {
    font-size: 50px;
    font-weight: 600;
}

.welcome p {
    font-size: 22px;
    opacity: 0.9;
}
a {
    text-decoration: none;
    color: inherit;
}
